<nav class="navbar">
  <div class="container">
    <div class="navbar-brand"><a class="navbar-item" href="/"><img class="text-logo" src="./assets/img/barkle-text.png"
          alt="logo" width="150"></a><a class="navbar-burger" data-target="navMenu" role="button" aria-label="menu"
        aria-expanded="false"><span aria-hidden="true"></span><span aria-hidden="true"></span><span
          aria-hidden="true"></span></a></div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start px-6">
        <a class="navbar-item" href="/profile">My Profile</a> <a class="navbar-item" href="/events">Create Event</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons"><a class="button is-danger" href="/logout">Log Out</a></div>
        </div>
      </div>
    </div>
  </div>
</nav>
<h2 class="title is-2 mt-6 mb-6 is-1 is-spaced has-text-centered">Event Dashboard</h2>
<hr class="content-divider mb-5">
<section class="section">
  <div class="container has-text-centered py-4">
    <div class="column is-8 is-offset-2">
      <h3 class="title is-4 mb-6">Upcoming Barkle Events</h3>
      <div class="box">
        <form action="/api/eventcreatorsearch/" method="POST">
          <div class="field">
            <label class="label" for="creator">Creator Username</label>
            <input class="input" id="creator" type="text" name="creator" placeholder="Search by Event Creator">
          </div>
          <button class="button mt-1 mb-2 is-primary" type="submit">Filter</button>
        </form>
        <form action="/api/eventdatesearch/" method="POST">
          <div class="field">
            <label class="label" for="date">Event Date</label>
            <input class="input" type="date" name="date" id="date">
          </div>
          <button class="button mt-1 mb-2 is-primary" type="submit">Filter</button>
        </form>
      </div>
    </div>
    <hr class="content-divider mb-5">
    {{#each events}}
    <div class="columns is-justify-content-center">
      <div class="column is-9">
        <div class="card mb-3 has-background-grey-lighter" data-aos="fade-up" data-aos-duration="1200">
          <div class="card-content">
            <h3 class="title is-4">{{dataValues.name}}</h3>
            <h4 class="title is-4">Created By {{dataValues.creator}}</h4>
            <p class="mb-3">{{dataValues.event_description}}</p>
            <button id="locationMap" class="button is-danger is-medium px-6 mb-2 eventLocation">
              <span class="icon">
                <i class="fa fa-map-marker"></i>
              </span>
              <span>{{dataValues.location_id}}</span>
            </button>
            <h4 class="title is-spaced is-5">When: {{dataValues.date}}&nbsp;at <small>{{dataValues.time}}</small></h4>
            <div class="buttons is-spaced is-justify-content-center">
              <a class="button is-primary my-2 py-2" type="button" href="/eventforum/{{dataValues.name}}/{{dataValues.id}}">Event Forum</a>
              {{#if owner}}<a class="button is-danger is-outlined my-2 py-2" type="button"
                href="/api/delete/{{dataValues.id}}">Delete event</a>{{/if}}
              <button class="button is-info is-outlined my-2 py-2 mx-2" type="button" href="">
                <span class="icon mr-2">
                  <i class="fas fa-thumbs-up"></i>
                </span>
                <span class="mr-2">
                  Like event
                </span>
                <span class="has-text-danger">
                  ({{dataValues.likes}})
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}

</section>
<form action="#">
  <button id="toTop" title="Go to top">
    <i class="fas fa-angle-up"></i>
  </button>
</form>

<script src="http://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>

<script>
  $(".eventLocation").on("click", function (e) {
    let openMap = $(this).text().trim();

    window.open("https://www.google.com/maps/search/?api=1&query=" + openMap)
    console.log(openMap)
  })

  window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("toTop").style.display = "block";
    } else {
      document.getElementById("toTop").style.display = "none";
    }
  }
</script>