<nav class="navbar">
  <div class="container">
    <div class="navbar-brand"><a class="navbar-item" href="/"><img class="text-logo" src="./assets/img/barkle-text.png"
          alt="logo" width="150"></a><a class="navbar-burger" data-target="navMenu" role="button" aria-label="menu"
        aria-expanded="false"><span aria-hidden="true"></span><span aria-hidden="true"></span><span
          aria-hidden="true"></span></a></div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start px-6">
        <a class="navbar-item" href="/profile">My Profile</a> <a class="navbar-item" href="/events">Create Event</a> <a
          class="navbar-item" href="#"></a>
        <a class="navbar-item" href="#"></a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons"><a class="button is-danger" href="/logout">Log Out</a></div>
        </div>
      </div>
    </div>
  </div>
</nav>

<h2 class="title is-2 mt-6 mb-6 is-1 is-spaced has-text-centered">Event Dashboard</h2>
<hr class="content-divider mb-5">
<section class="section">
  <div class="container has-text-centered py-4">
    <h3 class="title is-4 mb-6">Upcoming Barkle Events</h3>
    <hr class="content-divider mb-5">
    <div class="columns">
      <div class="column">
        {{#each events}}
        <div class="card mb-3 has-background-grey-lighter" data-aos="fade-up" data-aos-duration="1200">
          <div class="card-content">
            <h3 class="title is-4">{{dataValues.name}}</h3>
            <p class="mb-3">{{dataValues.event_description}}</p>
            {{!-- <div class="column is-half"> --}}
              <button id="locationMap" class="button is-danger is-medium px-6 mb-2 eventLocation">
                <span class="icon">
                  <i class="fa fa-map-marker"></i>
                </span>
                <span>{{dataValues.location_id}}</span>
              </button>
              {{!--
            </div> --}}
            <h4 class="title is-spaced is-5">When: {{dataValues.date}}&nbsp;at <small>{{dataValues.time}}</small></h4>
            <button class="button is-primary" type="button">Attending</button>
            <a class="button is-danger is-outlined" type="button" href="/api/delete/{{dataValues.id}}">Delete event</a>
          </div>
        </div>
        {{/each}}
      </div>
      {{!-- <div class="column">
        <div class="card">
          <div class="card-content">
            <h3 class="title is-4">Event Name</h3>
            <button class="button is-danger is-fullwidth mb-2">
              <span class="icon">
                <i class="fa fa-map-marker"></i>
              </span>
              <span>Location Name</span>
            </button>
            <h4 class="title is-spaced is-5">Date Goes Here <small>Time Goes Here</small></h4>
            <button class="button is-primary is-outlined" type="button">Attending</button>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <h3 class="title is-4">Event Name</h3>
            <button class="button is-danger is-fullwidth mb-2">
              <span class="icon">
                <i class="fa fa-map-marker"></i>
              </span>
              <span>Location Name</span>
            </button>
            <h4 class="title is-spaced is-5">Date Goes Here <small>Time Goes Here</small></h4>
            <button class="button is-primary is-outlined" type="button">Attending</button>
          </div>
        </div>
      </div> --}}
    </div>
  </div>
</section>
<script src="http://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script>
  $(".eventLocation").on("click", function(e) {
let openMap = $(this).text().trim();

 window.open("https://www.google.com/maps/search/?api=1&query=" + openMap) 
  console.log(openMap)
  })
  
</script>