<nav class="navbar">
    <div class="container">
        <div class="navbar-brand"><a class="navbar-item" href="/"><img class="text-logo"
                    src="/assets/img/barkle-text.png" alt="logo" width="150"></a><a class="navbar-burger"
                data-target="navMenu" role="button" aria-label="menu" aria-expanded="false"><span
                    aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a></div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start px-6">
                <a class="navbar-item" href="/profile">My Profile</a> <a class="navbar-item" href="/dashboard">Event
                    Dashboard</a>
                <a class="navbar-item" href="/event">Create Event</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons"><a class="button is-danger" href="/logout">Log Out</a></div>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="section">
    <div class="column is-6 is-offset-3">
        <form action="/api/addpost/{{eventname}}/{{eventid}}" method="POST" class="">
            <h2 class="title is-2 mt-6 mb-6 is-1 is-spaced has-text-centered">Post Something on the <span class="has-text-warning is-italic" style="text-decoration: underline;"> {{eventname}}</span> Message Board!</h2>
            <hr class="content-divider mb-5">
            <div class="field">
                <div class="box">
                    <label class="label" for="">Write a note:</label>
                    <div class="control">
                        <input class="input" type="text" name="content" placeholder="Your message here..."
                            id="postContent">
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-two-fifths">
                        <button class="button is-fullwidth is-primary mb-5" type="submit">Post</button>
                    </div>
                </div>
        </form>
    </div>

    {{#each posts}}
    <div class="card mb-3 has-background-grey-lighter" data-aos="fade-up" data-aos-duration="1200">
        <div class="card-content">
            <h5 class="title is-4 has-text-info-dark">Comment from <a href="/viewprofile/{{dataValues.poster_name}}/{{dataValues.poster_id}}">{{dataValues.poster_name}}</a></h5>
            <p class="subtitle is-6 has-text-grey">on {{dataValues.createdAt}}</p>
            <p class="my-3 subtitle is-5">{{dataValues.content}}</p>
            {{!-- <p class="mb-3">at {{dataValues.createdAt}}</p> --}}
            <a class="button is-info is-outlined my-3 is-pulled-right" type="button" href="/api/likepost/{{dataValues.id}}/{{dataValues.likes}}/{{dataValues.event_name}}/{{dataValues.event_id}}">
                <span class="icon mr-2">
                    <i class="fas fa-thumbs-up"></i>
                </span>
                <span class="mr-2">
                    Like post
                </span>
                <span class="has-text-danger">
                    ({{dataValues.likes}})
                </span>
            </a>
        </div>
    </div>
    {{/each}}

    </div>
</section>

<form action="#">
  <button id="toTop" title="Go to top">
    <i class="fas fa-angle-up"></i>
  </button>
</form>

<script>
window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      document.getElementById("toTop").style.display = "block";
    } else {
      document.getElementById("toTop").style.display = "none";
    }
  }
  </script>