<nav class="navbar">
    <div class="container">
        <div class="navbar-brand"><a class="navbar-item" href="/"><img src="/assets/img/barkle-text.png" alt="logo"
                    width="150"></a><a class="navbar-burger" data-target="navMenu" role="button" aria-label="menu"
                aria-expanded="false"><span aria-hidden="true"></span><span aria-hidden="true"></span><span
                    aria-hidden="true"></span></a></div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start px-6">
                <a class="navbar-item" href="/events">Create Event</a> <a class="navbar-item" href="/dashboard">Event
                    Dashboard</a> <a class="navbar-item" href="/profile">My Profile</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons"><a class="button is-danger" href="/logout">Log Out</a></div>
                </div>
            </div>
        </div>
    </div>
</nav>


<section class="section">
    <div class="container py-4">
        {{#if owner}}
        <h2 class="title has-text-centered mb-6">Your Barkle Profile</h2>
        {{else}}
        <h2 class="title has-text-centered mb-6">{{user}}'s Profile</h2>
        {{/if}}
        <hr class="content-divider mb-5">
        {{#each dogs}}
            <div class="card mb-3 has-background-grey-lighter" data-aos="fade-up" data-aos-duration="1200">
                <div class="card-content">
                    <div class="image columns is-centered">
                        <div class="column is-6"><img class="image is-rounded" src={{dataValues.dog_pic}} alt=""></div>
                        {{#if owner}}<a class="editDog" href="/editDog/{{dataValues.id}}">Edit info</a>{{/if}}
                        <div class="column is-6">
                            <h4 class="title is-spaced is-3">{{dataValues.name}}</h4>
                            <p class="subtitle"><strong>Favorite Activity:</strong> {{dataValues.fav_activity}}</p>
                            <div>
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48"><img
                                                src="https://static.shuffle.dev/uploads/files/53/53dd366aaf02ca0745c10f8cbf2f133e39d15f5e/paw-icon.png"
                                                alt=""></figure>
                                    </div>
                                    <div class="media-content">
                                        <div class="content">
                                            <p class="subtitle"><strong class="title is-4">Breed:</strong> {{dataValues.breed}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48"><img
                                                src="https://static.shuffle.dev/uploads/files/53/53dd366aaf02ca0745c10f8cbf2f133e39d15f5e/Barkle-Icon.png"
                                                alt=""></figure>
                                    </div>
                                    <div class="media-content">
                                        <div class="content">
                                            <p class="subtitle"><strong class="title is-4">Outgoing:</strong> {{dataValues.outgoing}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
        {{#if owner}}<div class="column is-6 is-offset-3">
            <div class="buttons is-centered my-4"><a class="button is-primary" href="/createProfile">Add Another
                    Dog</a></div>
        </div>{{/if}}
</section>

<form action="#">
  <button id="toTop" title="Go to top">
    <i class="fas fa-angle-up"></i>
  </button>
</form>

<script>
  window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      document.getElementById("toTop").style.display = "block";
    } else {
      document.getElementById("toTop").style.display = "none";
    }
  }
  </script>